.users-container {

    .add-user {
        .add-user-btn {
            i {
                margin-right: 5px;
            }
        }
    }
}

.btn-action {
    display: flex;
    justify-content: center;
    gap: 10px;
}